<table class="table table-striped mt-2">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Password</th>
        <th>Added on</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i=0; i < users.length; i++) { %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= users[i].name %></td>
        <td><%= users[i].email %></td>
        <td><%= users[i].gender %></td>
        <td><%= users[i].age %></td>
        <td><%= users[i].password %></td>
        <td><%= users[i].createdAt %></td>  
        <td>
          <a href="/update?id=<%= users[i]._id %>" class="edit" title="Edit" data-toggle="tooltip"><i class="fas fa-edit ml-2"></i></a>
          <a data-id="<%= users[i]._id %>"  class="delete ml-4" style="margin-left: 17px;" title="Delete" >
            <i class="fas fa-trash-alt"></i></a>
        </td>
      </tr>
      <% } %>
      
</tbody>
</table>